@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: block;
    height: 100%;
    width: 100%;
}
body {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    display: block;
    height: 100%;
    width: 100%;
    
}
.title-container {
    height: 25%;
    width: 100%;
    background-color: #457b9d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 3rem;
    font-weight: 500;
    display: flex; 
    font-family: 'Open Sans', sans-serif;
}
.library-container {
    height: 75%;
    display: flex;
    background-color: #1d3557;
}
#library-icon {
    height: 10vh;
}
.button_plus {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    cursor: pointer;
    border: 2px solid lightblue;
  
    /* Mittig */
    bottom: 1%;
    right: 1%;
  }
  
  .button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: lightblue;
    top: 50%;
    left: 50%;
  }
  
  .button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightblue;
    height: 50%;
    width: 4px;
  }
  
  .button_plus:hover:before,
  .button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .button_plus:hover {
    background-color: #095776;
    transition: 0.2s;
  }
  .popup {
    visibility: hidden;
    height: 600px;
    width: 400px;
    position: absolute;
    top: 20%;
    left: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    
    
  }
  .popup h1 {
    font-weight: 400;
    color: #457b9d;
    font-size: 3rem;
    margin-top: 5%;
  }
  form {
    height: 80%;
    width: 90%;
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15%;
    
    
  }
  input {
    height: 3rem;
    width: 100%;
    background-color:  #f7f7f7;
    font-size: 1rem;
  }
  input:focus {
    outline: none;
  }
  select {
    height: 3rem;
    width: 100%;
    background-color: #f7f7f7;
  }
  select:focus {
    outline: none;
  }
  #submit {
    margin-top: auto;
    margin-bottom: 5%;
    background-color: #095776;
    color: white;
    font-size: 1.5rem;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 10px;
    height: 10px;
    opacity: 0.3;
    background: transparent;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color:  #095776;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .show {
    visibility: visible;
    
   
  }
  .blur {
   filter: blur(2px);
  }
  .card {
    background-color: white;
    width: 275px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
   
  }
  #card-title {
    background-color:#457b9d;
    height: 16.6%;
    border: .5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  #card-author {
    height: 16.6%;
    background-color:#457b9d;
    border: .5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #card-pages {
    height: 16.6%;
    background-color:#457b9d;
    border: .5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #card-read {
    height: 16.6%;
    background-color:#457b9d;
    border: .5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .change-read {
    height: 16.6%;
    background-color:#457b9d;
    background-color: #a8dadc;
    border: .5px solid black;
    border-radius: 3px;
  
    
  }
  .delete-book {
    height: 17%;
    background-color: #e63946;
    border: .5px solid black;
    border-radius: 3px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  #change-read-img {
    height: 50%;
    
  }
  #delete-book-img {
    height: 50%;
   
  }
  .cards-grid {
    margin-left: 1%;
    margin-top: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 275px 275px 275px 275px 275px; 
    grid-template-rows: 400px;
    gap: 20px;
  }
